@use "./fonts";
@use "./forms";
@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // font-family: $font-body;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: $font-heading;
    // font-weight: 400;
    line-height: 1.1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}